﻿<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>

<table class="table table-hover">
    <thead>
    <tr>
        <td>Title</td>
        <td>id </td>
        <td>completed</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.title }}</td>
            <td>{{ task.id }}</td>
            <td>{{ task.completed }}</td>
            <td><a  class="btn btn-primary">Edit</a></td>
            <td><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" class="btn btn-danger">Delete</a></td>
        <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="deleteTask(task.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
  
      </div>
    </div>
  </div>
        
        </tr>
    </tbody>
  </table>